    :root{
    --header-color:#2196F3;
    --mainul-color:#212121;
    --mainulfon-color:#F5F4FA;
    --mainli-color:#757575;
    --footer-color:#FFFFFF;
    --logo-color:#000;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --background-footer-color: #2F303A;
    --line-color: #EEEEEE;
    }

    body{
        font-family: "Roboto", sans-serif; 
    margin: 0;
    }


    .logotype{
    
    color: var(--header-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.78px;
    text-decoration: none;
    }






    .logo-partf{

        color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-right: 20px;
    }



    .logo{
        
        color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-right: 50px;
    }
 

   






    .header-item {
        color: var(--logo-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-decoration: none;
    }

    .adventages-list{
    color: var(--mainli-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    gap: 30px;




    }


    .adventages-listes{
        gap: 30px;
    display: flex
    }

 .team-card{
    background-color: #FFFFFF;
 }


    .hero-title{
        margin-left: auto;
        margin-right: auto;
    color: var(--mainulfon-color);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
        width: 696px;
        margin-bottom: 30px;

    }

    .team-caption{
        color: var(--mainli-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-align: center;
    margin-top: 10px;
    

    }

    


    .footer-items:hover{
        color: var(--footer-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;

    }

    .main-item:hover{
        color: var(--mainul-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    }


.logo-partf a{
    color: var(--footer-color);
}




    .header-detales{
    color: var(--mainul-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    position: relative;
    padding-bottom: 11px;
    }

.header-detales::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;
    background-color: var(--header-color);
}


.header-detales:hover{
    color: var(--header-color);
}

.header-detale{
    position: relative;
    padding-bottom: 10px;       
}


.header-detale{
    font-size: 14px;
        color: var(--logo-color);
        font weight: 500;
}

.header-detale:hover{
    color: var(--header-color);
}


.header-detales,
.header-detale{
    position: relative;
    padding-bottom: 10px;
}


.header-detales::after,
.header-detale::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color: var(--header-color);


}

.header-detales:hover::after,
.header-detale:hover::after{
    width: 100%;
}

.header-detales:hover,
.header-detale:hover{
    color: var(--header-color);
}


.current:hover{
    color: var(--header-color);

}




.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--header-color);
}






.header-detale:hover{
    color: var(--header-color);
}




.adventages-titles{
        color: var(--mainli-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    }



    .header-contact a {
        color: var(--mainli-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    text-decoration: none;

    }

    .header-contact a:hover{
        color: var(--header-color);
    }

    .main-button{
        color: var(--footer-color);
        background-color: var(--header-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    }



    a{
        color: var(--mainul-color);
        text-decoration: none;
    }
   


.team-image{
    padding-bottom: 30px;
    width: 250px;
     display: block;
    width: 100%;
   
}   


.team-div{
    padding-bottom: 30px;
    width: 250px;
     display: block;
    width: 100%;
}




    .hero-section{
       
    text-align: center;
        background-color: var(--background-footer-color);
        padding-bottom: 200px;
        padding-top: 200px;
       
    }


.adventages{
    padding-top: 94px;
}



    .footer-logo{
        color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    }







    .title{
        color: var(--mainul-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    }


    .header-items{
        color: var(--logo-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;

    }



    .header-items:hover{
        color: var(--header-color); 
        }


        .hero-text{
            color: var(--mainli-color);
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
        }

.work{
    padding-top: 94px;
    padding-bottom: 94px;
}



        .work-title{
            color:var(--mainul-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
    
        }

.work-image{
    display: block;
}



        .team-title{
            color:var(--mainul-color);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    text-align: center;
    margin-bottom: 50px;
    }

    .team{
        padding-top: 94px;
        padding-bottom: 94px;
    background-color: var(--mainulfon-color);
    }






    .main-person{
        color: var(--mainul-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
    }



    .main-item{
        color:var(--mainul-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;

    }

    .main-caption{
        color: var(--mainul-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;

    }

    .main-text{
        color: var(--mainli-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;

    }

    .footer-link{
        color: var(--footer-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;

    }



.main-infoimage{
display: block;
width: 100%;

}



    footer{
    padding-top: 60px;
    padding-bottom: 60px;
        background-color: var(--background-footer-color);
    }


    .footer-mail{
    color: var(--footer-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    }

    .footer-number{
        color: var(--footer-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    }


    .container{
        width: 1200px;
    margin: 0 auto;
        outline: 1px solid red;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header{
        padding-top: 24px;
        padding-bottom: 25px;
        
    }

    .header-wrap{
        display: flex;
        align-items: center;
    }


    .header-list{
        display: flex;
        gap: 50px;
    
    }




    .header-contacts {
        display: flex;
        gap: 50px;
        margin-left: auto;
        
    }




    .header-contact:first-child{
        margin-left: 0;
        
    }





    .header-navigation{
        display: flex;
        align-items: center;
    margin-right: 93px;
    }


    .work-list{
        display: flex;
    justify-content: center;
    gap: 30px;
    }





    .work-item{
        margin-left: 0;
    width: 370px;
    height: 294px;
 
    }



    .team-list{
        display: flex;
        gap: 30px;
        justify-content: center;
    }






    .footer-items{
    margin-top: 9px;
    }





   

    .hero{
        background-color: #FFFFFF;
         padding-top: 94px;
    padding-bottom: 94px;
    
    }





    .main-list{
        display: flex;
    gap: 8px;
    justify-content: center;
  
    }






 


    .main-list:hover{
        color: var(--footer-color);
        
    }

        .main-itemss{
        background-color: var(--mainulfon-color);
   
    border-radius: 4px;
    border: none;
    }


.main-itemsf{
    width: 100%;
   border-width: 1px;
border-style: groove;
}

    
     
.filter-part{
    color: var(--mainul-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
letter-spacing: 0.48px;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;
white-space: nowrap;
display: flex;
background-color: var(--mainulfon-color);
color: #000;
border-radius: 4px;


}


    .filter-part:hover{
        background-color: var(--header-color);
     color: #FFFFFF;
    }




    .main-info{
        display: flex;
    gap: 30px;
    
display: grid;
    grid-template-columns: repeat(3, 1fr);
margin-top: 50px;
    }


.section-div{
    padding: 24px 
}

.footer-info{
    margin-top: 20px;
}

.adventages-list:hover{
    color: var(--header-color);
}

.adventages-list:hover{
    color: var(--header-color);
}


.footer-item{
    margin-bottom: 9px;
}


.main-info{
        display: flex;
    gap: 30px;
    
display: grid;
    grid-template-columns: repeat(3, 1fr);
margin-top: 50px;
    }



  


    .peshka-item{
        position: relative;
        
    }


    .main-itemsf{
        width: 100%;
    }

    .main-itemsf:hover{
        .peshka{
            opacity: 1;
        }
    }



    .peshka{
        color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.54px;
position: absolute;
top: 0;
left: 0;
color: var(--footer-color);
background: rgba(33, 150, 243, 0.90);
padding-bottom: 63px;
padding-top: 63px;
padding-left: 24px;
padding-right: 24px;
opacity: 0;
    }