:root {
  --header-color: #2196f3;
  --mainul-color: #212121;
  --mainulfon-color: #f5f4fa;
  --mainli-color: #757575;
  --footer-color: #ffffff;
  --logo-color: #000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --line-color: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.logotype {
  color: var(--header-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.logo-partf {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-right: 20px;

}

.logo {
  width: 135px;
  height: 19px;
  margin-right: auto;
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-right: auto;
}

.header-item {
  color: var(--logo-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.adventages-list {
  color: var(--mainli-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  gap: 30px;
}

.adventages-listes {
  gap: 30px;
display:grid;
    grid-template-columns:1fr;
  
}

.team-card {
  background-color: #ffffff;
   width:100%;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  color: var(--mainulfon-color);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  max-width: 290px;
  line-height: 1.4;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px;
}

.team-caption {
  color: var(--mainli-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-align: center;
  margin-top: 10px;
}

.header {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-items:hover {
  color: var(--footer-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.main-item:hover {
  color: var(--mainul-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}

.logo-partf a {
  color: var(--footer-color);
}

.header-detales {
  color: var(--mainul-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  position: relative;
  padding-bottom: 11px;
}

.header-detales::after {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  background-color: var(--header-color);
}

.header-detales:hover {
  color: var(--header-color);
}

.header-detales:hover::after,
.header-detale:hover::after {
  bottom: -17px;
}

.header-detale {
  font-size: 14px;
  color: var(--logo-color);
  font-weight: 500;
}

.header-detale:hover {
  color: var(--header-color);
}

.header-detales,
.header-detale {
  position: relative;
  padding-bottom: 10px;
}

.header-detales::after,
.header-detale::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50;

  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--header-color);
}

.header-detales:hover::after,
.header-detale:hover::after {
  width: 100%;
  transition: width 0.3s ease;
}

.header-detales:hover,
.header-detale:hover {
  color: var(--header-color);
}

.current:hover {
  color: var(--header-color);
}

.adventages-list {
  content: "";
  position: relative;
}

.adventages-list::after {
  content: "";
  position: absolute;
  left: 0;

  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--header-color);
}

.adventages-list:hover::after {
  color: var(--header-color);
  width: 100%;
  transition: width 250ms ease;
  bottom: -28px;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--header-color);
}

.header-detale:hover {
  color: var(--header-color);
}

.adventages-titles {
  color: var(--mainli-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-contact a {
  color: var(--mainli-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.header-contact a:hover {
  color: var(--header-color);
}

.main-button {
  color: var(--footer-color);
  background-color: var(--header-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  border-radius: 4px;

  border: none;
  width: 100%;
 
  display: block;
 padding: 10px 24px;
  width: 216px;
  height: 50px;
  margin: 0 auto;
}

a {
  color: var(--mainul-color);
  text-decoration: none;
}

.team-image {
  padding-bottom: 30px;
  display: block;
  width: 100%;
}

.team-div {
  padding-bottom: 30px;

  display: block;
  width: 100%;
}

.hero-section {
  text-align: center;
  background-color: var(--background-footer-color);
padding: 60px 0;
}

.adventages {
padding: 60px 0;
}

.footer-logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.title {
  color: var(--mainul-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
display: flex;
justify-content: center;
}

.header-items {
  color: var(--logo-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-items:hover {
  color: var(--header-color);
}

.hero-text {
  color: var(--mainli-color);
  margin-top: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  
  letter-spacing: 0.42px;
}

.work {
display: none;
}

.work-title {
  color: var(--mainul-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.work-image {
  display: block;
  width: 100%;
  height: auto;
}

.team-title {
  color: var(--mainul-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--mainulfon-color);
}

.main-person {
  color: var(--mainul-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
}

.main-item {
  color: var(--mainul-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.main-caption {
  color: var(--mainul-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.main-text {
  color: var(--mainli-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

.footer-link {
  color: var(--footer-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.main-infoimage {
  display: block;
  width: 100%;
}

footer {
padding: 40px 0;
  background-color: var(--background-footer-color);
  justify-content: center;
  display: flex;
  align-items: center;
}

.footer-mail {
  color: var(--footer-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-number {
  color: var(--footer-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.container {
   width: 100%;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-wrap {
flex-wrap: wrap;
 display: flex;
   
    align-items: center;
}

.header-list {
display: flex;
flex-wrap: wrap;
gap: 10px;

}

.header-contacts {
  display: none;
  margin-left: auto;
  
}

.header-contact:first-child {
  margin-left: 0;
}

.header-navigation {
 display: none;
}

.work-list {
  flex-direction: column;
display: flex;
gap: 30px;
}



.work-item {
  margin-left: 0;
  flex: 1;
  height: auto;
}

.team-list {
display:grid;
    grid-template-columns:1fr;
    gap:30px;
}

.footer-items {
  margin-top: 9px;
}

.hero {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.main-list:hover {
  color: var(--footer-color);
}

.main-itemss {
  background-color: var(--mainulfon-color);

  border-radius: 4px;
  border: none;
}

.main-itemsf {
  width: 100%;
  border-width: 1px;
  border-style: groove;
}

.filter-part {
  justify-content: center;
  color: var(--mainul-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  white-space: nowrap;
  display: flex;
  background-color: var(--mainulfon-color);
  color: #000;
  border-radius: 4px;
}

.filter-part:hover {
  background-color: var(--header-color);
  color: #ffffff;
}

.main-info {
  display: flex;
  gap: 30px;

  display: grid;
 grid-template-columns: 1fr;
  margin-top: 50px;
}

.section-div {
  padding: 24px;
}

.footer-info {
  margin-top: 20px;
}

.adventages-list:hover {
  color: var(--header-color);
}

.adventages-list:hover {
  color: var(--header-color);
}

.footer-item {
  margin-bottom: 9px;
}

.main-info {
  
  gap: 30px;

  display: grid;
  margin-top: 50px;
}

.peshka-item {
  position: relative;
}

.main-itemsf {
  width: 100%;
}

.main-itemsf:hover {
  .peshka {
    opacity: 1;
  }
}

.peshka {
  content: "";
  transition: transform 0.3s ease;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.peshka:hover {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 350ms;
  transition-delay: 100ms;
  transform: translateY(-50px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.418);
}

.peshka {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--footer-color);
  background: rgba(33, 150, 243, 0.9);
  padding-bottom: 63px;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  opacity: 0;
}




.webfooter{
width: 135px;
  height: 19px;

}







.clients-title{
 

    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;

}


.client-img{
  width:100%;
    max-width:170px;
    height:auto;
display: block;
 margin:0 auto;
}


.clients-list{
   
    margin-top: 50px;

    margin-bottom: 50px;
    justify-content: center;
     display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

























.main-button {
  animation-name: posluga;
  animation-duration: 2000ms;
}

@keyframes posluga {
  0% {
    transform: translateX(-1200px);
  }

  100% {
    transform: translate(0);
  }
}

.hero-title {
  animation-name: title;
  animation-duration: 2000ms;
}

@keyframes title {
  0% {
    transform: translateX(1200px);
  }

  100% {
    transform: translateX(0);
  }
}







/* МОБІЛКА */







@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
  .hero-title {
     width: 100%;
  max-width: 360px;
  }
  .main-button {
   width: 216px;


  }
  
.footer {
    text-align: center;
  }

  .webfooter {
    display: block;
    margin: 0 auto 20px;
  }

  .webfooter {
    display: block;
    margin: 0 auto 20px;
  }

  .footer-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .footer-address {
    font-style: normal;
  }
  .adventages-listes{
  gap: 30px;
  display: grid;
 grid-template-columns: repeat(1, 1fr);
}
.title {
    display: block;
    width: 100%;
    text-align: center;
}
 .team {
  padding-top: 60px;
  padding-bottom: 60px;

}
.work {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
}
.team-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
}
.team-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  justify-content: center;
}
.clients-list{
    display: grid;
      grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
   gap: 30px;
    margin-left: 0;
    justify-content: center;
    
}
.hero-text {
  color: var(--mainli-color);
  margin-top: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  
  letter-spacing: 0.42px;
}

.team {
  padding-top: 60px;
  padding-bottom: 30px;

}
 .main-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 8px;
  }

}







/* ПЛАНШЕТ */








@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
 .footer {
    text-align: left;
  }

  .webfooter {
    display: block;
    margin: 0;
  }
.header-wrap{
    flex-wrap: nowrap;
    justify-content: space-between;
}
  .header {
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
  }
    .team {
  padding-top: 60px;
  padding-bottom: 60px;

}

  .logo {
    margin-right: 87px;
  }
  .header-navigation {
    display: block;
  }
  .header-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
     margin-left:auto;
  }
  .footer{
     text-align: left;
  }

  .adventages-listes {
  gap: 30px;
  display: grid;
   grid-template-columns: repeat(2, 1fr);

}
.main-button {
width: 216.0px;

   padding: 10px 10px;
  }
.title {
    display: block;
    width: 100%;
     text-align: left;
}
.work {
  padding-top: 94px;
  padding-bottom: 94px;
  display: none;
}
.team-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
}
.clients-list{
    display: grid;
      grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
   gap: 30px;
    margin-left: 30px;
    justify-content: center;
}
.main-info{
      grid-template-columns: repeat(2, 1fr);

}
.hero-text {
  color: var(--mainli-color);
  margin-top: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  
  letter-spacing: 0.42px;
}
.header-wrap {
flex-wrap: nowrap;
}
.header-list{
   flex-wrap: nowrap;
    gap:50px;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
}










/* ДЕСКТОП */










@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
  .header-list{
      gap: 50px;
     
  }
  .main-button{
     width: 260px;
  }
   .footer {
    text-align: left;
  }

  .webfooter {
    display: block;
    margin: 0;
  }
  .team {
  padding-top: 94px;
  padding-bottom: 94px;

}
  .logo {
    font-size: 24px;
    letter-spacing: 0.72px;
    margin-right: 93px;
    
  }

  .header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-contacts {
    flex-direction: row;
    gap: 30px;
  }
    .adventages-listes {
  gap: 30px;
 grid-template-columns: repeat(4, 1fr);

}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

}

.title {
    display: block;
    width: 100%;
    
}
.work {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
}
.team-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.clients-list{
    display: flex;
    margin-top: 50px;
   gap: 30px;
    margin-left: 30px;
    justify-content: center;
}
.main-info{
      grid-template-columns: repeat(3, 1fr);

}
.hero-section {
  text-align: center;
  background-color: var(--background-footer-color);
padding: 200px 0;
}
 .work-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .work-item {
    flex: 1;
  }

  .work-image {
    width: 100%;
    height: auto;
  }







  /* СЕКЦІЯ ГЕРОЙ */






  .hero-section {
    padding-bottom: 200px;
    padding-top: 200px;
  }
  .hero-title {
    font-size: 44px;

    line-height: 1.36;
    letter-spacing: 2.64px;

    max-width: 696px;
  }
  .main-button {
    width: 216px;
  }
}